name: CI

on:
  pull_request:
    branches:
    - main

jobs:
  create-pr:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      # - uses: mxschmitt/action-tmate@v3
      - name: Build
        run: |
          echo -n "GITHUB_CLASSIC_TOKEN=${GITHUB_TOKEN}" > .env
          docker compose build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: |
          docker compose run --rm jupyter uv run pytest
      - name: Lint
        run: |
          docker compose run --rm jupyter uv run ruff check --fix
      - name: Typecheck
        run: |
          docker compose run --rm jupyter uv run ty check
      - name: E2E for Pull Request
        run: |
          docker compose run --rm jupyter agile-calculator \
            --log_level=DEBUG \
            pull_requests \
            --repo_name=KentFujii/agile-calculator \
            --users="" \
            --since_days=90 \
            --base_branch=main \
            details \
            csv
          docker compose run --rm jupyter agile-calculator \
            --log_level=DEBUG \
            pull_requests \
            --repo_name=KentFujii/agile-calculator \
            --users="" \
            --since_days=90 \
            --base_branch=main \
            cycle_time \
            matplotlib
          docker compose run --rm jupyter agile-calculator \
            --log_level=DEBUG \
            pull_requests \
            --repo_name=KentFujii/agile-calculator \
            --users="" \
            --since_days=90 \
            --base_branch=main \
            review_comments \
            matplotlib
          docker compose run --rm jupyter agile-calculator \
            --log_level=DEBUG \
            pull_requests \
            --repo_name=KentFujii/agile-calculator \
            --users="" \
            --since_days=90 \
            --base_branch=main \
            merged_count \
            matplotlib
          docker compose run --rm jupyter agile-calculator \
            --log_level=DEBUG \
            pull_requests \
            --repo_name=KentFujii/agile-calculator \
            --users="" \
            --since_days=90 \
            --base_branch=main \
            changed_lines \
            matplotlib
      - name: E2E for Comment
        run: |
          docker compose run --rm jupyter agile-calculator \
            --log_level=DEBUG \
            comments \
            --repo_name=KentFujii/agile-calculator \
            --users="" \
            --since_days=90 \
            --base_branch=main \
            details \
            csv
